<div *ngIf="post">
    <div>
      <label>Post Title: </label> {{post.title}}
    </div>
    <div>
      <label>Post Content: </label> {{post.content}}
    </div>
   
    <!-- <span class="button is-small btn-primary" *ngIf='post.active' (click)='updateActive(false)'>Inactive</span> -->
   
    <!-- <span class="button is-small btn-primary" *ngIf='!post.active' (click)='updateActive(true)'>Active</span> -->
   
    <span class="button is-small btn-danger" (click)='deletePost()'>Delete</span>
   
    <hr/>
  </div>